*{
    /* background-color: darkblue; */
}
.write{
    text-align: start;
    margin: left top bottom right 1rem;
    padding-left: 1rem;
    text-wrap: 1;
    text-decoration-color: azure;
}

.simplyfied{
    text-align: left;
    margin-top: 1rem;
    max-width: fit-content;
    padding: 1rem;
    text-decoration-color: azure;
}

.ama{
    text-align: center;
    margin-top: 1rem;
    max-width: fit-content;
    padding: 1rem;
    text-decoration-color: azure;
}

.prof{
    ext-align: end;
    margin-top: 1rem;
    max-width: fit-content;
    padding: 1rem;
    text-decoration-color: azure;
}
